<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Builder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB0F4F251DF7F16A005D3E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0F4F3E1DF7F16A005D3E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0F4F491DF7F16A005D3E56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
